*{
    margin: 0;
    padding: 0;
}

.form {
    padding: 20px;
}

.form .grupo {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.form input, .form textarea{

    padding: 8px;
    border-radius: 4px;
    width: 200px;
    border: 2px solid rgba(92, 83, 83, 0.796);
    transition: border 1s;
}

#terminos{
    width: 20px;
}
#terminos:checked{
    width: 100px;
}
.form input:focus {
    outline: none;
    border: 2px solid #000;
}

.form input:required{
    border: 2px solid rgb(198, 4, 4);
}

.form label {
    display: block;
    width: 80px;
    padding: 8px;
}

.boton1{
    color: white;
    padding: 5px 10px;
    margin: 8px;
    border-radius: 6px;
    text-decoration: none;
    border:0;
}

.boton1:link{
    background-color: rgb(0, 238, 8);
}

.boton1:hover{
    background-color: rgb(35, 35, 203);
}

.boton1:active{
    background-color: blueviolet;
}

.boton1:visited{
    background-color: brown;
}

.elementos{
    margin: 20px;
}
.elementos h5:nth-child(2){
    background-color: blue;
}

.elementos h5:nth-of-type(2){
    background-color: blueviolet;
}
